{{> header}}

    <div class="container">
      <div id="products" class="">
        <div class="item list-group-item title-headers clearfix col-md-4 title-bar">
          <div class="col col-md-4">Title</div>
          <div class="col col-md-4">Author</div>
          <div class="col col-md-4">Found on Page</div>
        </div>

        {{#each search_results}}
            <a href="/{{title}}/view">
            <div class="item list-group-item clearfix col-md-4">
              <div class="col col-md-4">{{title}}</div>
              <div class="col col-md-4">----</div>
              <div class="col col-md-4">{{page}}</div>
            </div>
            </a>
        {{/each}}
      </div>
    </div><!-- /.container -->

{{> footer}}